*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.head{
    background-color: rgb(85, 13, 13);
}
.compssa{
    color: rgba(255, 255, 255, 0.927);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-size: 25px;
}
header .main-header{
    background-color: rgb(85, 13, 13);
    display: flex;
}
header .first-image img{
    height: 400px;
    width: 650px;
    margin-right: 6px;
    margin-left: 100px;
}

header .main-header .second-image img{
    height: 200px;
    width: 250px;
}

header .second-image{
    display: flex;
    flex-wrap: wrap;
}
header .head .links{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

header .head .links a{
    color: white;
    text-decoration: none;   
}

header .head .links a:hover{
    text-decoration: underline;
    color: rgba(236, 157, 10, 0.719);
    transition: 0.6s; 
}
.first_image{
    height: 100px;
    width: 100%;
}

.msg_container{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(12, 12, 12, 0.73), rgba(45, 43, 43, 0.64)), url(./images/Kstu\ entrance_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.welcome_msg{
    padding-left: 200px;
    padding-right: 200px;
    color: aliceblue;
    font-size: 20px;
    padding-top: -50px;
    text-align: center;
}

.read_more{
    margin-top: 10px;
    margin-left: 100px;
    background-color: rgba(255, 166, 0, 0.893);
    padding: 7px;
    border: none;
    border-radius: 10px;
    color: rgb(25, 24, 24);
    font-weight: bold;
    margin-left: 600px;
    margin-top: 60px;
}

.read_more:hover{
    color: white;
    transition: 0.8s;
    text-decoration: underline;
    background-color: rgb(47, 43, 43);
}
.over_view{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: rgb(149, 133, 29);
    margin-top: 50px;
}

.ovr_msg{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
}

.m_msg_header{
    text-align: center;
    text-decoration: underline;
    color: rgb(149, 133, 29);
    text-transform: uppercase;
    margin-top: 60px;
   
}

.m_msg{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    margin-top: 20px;

}


.v_msg_header{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(149, 133, 29);
    margin-top: 60px;
}

.v_msg{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    margin-top: 20px;
}
.m_v_msg{
    display: flex;
}
.m_msg_container{
    width: 50%;
}
.v_msg_container{
    width: 50%;
}


.F_history_header{
    text-transform: uppercase;
    text-align: center;
    color: rgb(149, 133, 29);
    margin-top: 30px;
}

.history{
    margin: 0 100px;
    margin-top: 20px;
    font-size: 20px;
}
.f_gallery_1{
    width: 600px;
    height: 400px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 30px;
}

.gallery_container{
    display: flex;
    flex-wrap: wrap;
}
.f_gallery_2{
    width: 600px;
    height: 400px;
    margin-top: 30px;
}
.f_gallery_3{
    width: 600px;
    height: 300px;
    margin-left: 50px;
}

.f_gallery_4{
    width: 550px;
    height: 300px;
    margin-left: 50px;
}

.news_header{
    margin-left: 50px;
    color: rgb(149, 133, 29);
}

.news_container{
    display: flex;
}
.sec_news_header h2{
    color: rgb(149, 133, 29);
    margin-top: 30px;
    margin-bottom: 15px;
}
.sec_news_header{
    margin-left: 50px;
}

.third_paragraph_image{
    width: 400px;
}

.sec_paragraph{
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

.third_paragraph{
    margin-top: 90px;
}
.foot_container{
    display: flex;
    background-color: rgb(85, 13, 13);
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 150px;
}
.foot_first_container{
    margin-right: 50px;
    margin-left: 50px;
}
.sec_foot_container{
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.835);
}
.office_hours{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.838);
}
.consultation{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.829);
}
.call_us{
    color: rgba(255, 255, 255, 0.901);
}

.email_us{
    background-color: rgba(31, 30, 30, 0.649);
    color: white;
}
.send_button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: rgba(238, 159, 12, 0.864);
    border: none;
    cursor: pointer;
    color: white;
}
.send_button:hover{
    padding: 10px 10px;
    transition: 0.7s;
    background-color: rgba(31, 30, 30, 0.649);
    text-decoration: underline;
}

.contact_us{
    color: rgba(255, 255, 255, 0.857);
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 30px;
}
.quick_links{
    color: rgba(255, 255, 255, 0.85);
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 30px;
}

.links a{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    cursor: pointer;
}

.links a:hover{
    color: rgba(236, 157, 10, 0.719);
    text-decoration: underline;
    transition: 0.6s;
}

.foot_dept{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: underline;
    margin-bottom: 30px;
}

.f_dept a{
    color:  rgba(255, 255, 255, 0.85);
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
}

.f_dept a:hover{
    color: rgba(236, 157, 10, 0.719);
    text-decoration: underline;
    transition: 0.6s; 
}

.m_msg_container li{
    margin-left: 100px;
}