body{
    background-color: blueviolet;
}

section ul li{
    display: block;
    padding-bottom: 20px;
}

section ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: capitalize;
}

section div{
    margin-top: 110px;
    margin-left: 370px;
}

h1{
    font-size: 60px;
    text-transform: capitalize;
    color: yellow;
    margin-left: 50px;
}
section ul li a:hover{
    color: orange;
    transition: 0.7s;
}